In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [2]:
train = pd.read_csv('train.csv', usecols=['NU_NOTA_MT', 'NU_NOTA_LC', 'NU_NOTA_CH', 'NU_NOTA_CN', 'NU_NOTA_REDACAO'])
train.shape

(13730, 5)

In [3]:
train.isna().sum()

NU_NOTA_CN         3389
NU_NOTA_CH         3389
NU_NOTA_LC         3597
NU_NOTA_MT         3597
NU_NOTA_REDACAO    3597
dtype: int64

In [4]:
train = pd.read_csv('train.csv', usecols=['NU_NOTA_MT', 'NU_NOTA_LC', 'NU_NOTA_CH', 'NU_NOTA_CN', 'NU_NOTA_REDACAO'])
train.fillna(0, inplace=True)

In [5]:
train.corr()

,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO
NU_NOTA_CN,1.000000,0.969323,0.920917,0.907039,0.857810
NU_NOTA_CH,0.969323,1.000000,0.934704,0.903608,0.871199
NU_NOTA_LC,0.920917,0.934704,1.000000,0.943954,0.904795
NU_NOTA_MT,0.907039,0.903608,0.943954,1.000000,0.875929
NU_NOTA_REDACAO,0.857810,0.871199,0.904795,0.875929,1.000000

In [6]:
y = train.iloc[:, -2].values

In [7]:
x = train.drop(columns=['NU_NOTA_MT']).values

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=.33, random_state = 1000)

In [9]:
reg = LinearRegression().fit(x_train, y_train)

In [10]:
y_pred = reg.predict(x_test)

In [11]:
mse = mean_squared_error(y_test, y_pred)
print(mse)

4961.806638268719

In [12]:
r2 = r2_score(y_test, y_pred)
print (r2)

0.9058605013258552

In [13]:
mae = mean_absolute_error(y_test, y_pred)
print(mae)

49.101576418402615

In [14]:
pd.DataFrame({'test':y_test,
            'pred':y_pred})

       test        pred
0     611.6  392.120868
1       0.0   -2.681411
2     422.2  476.307312
3     707.5  564.091208
4     406.2  481.696887
...     ...         ...
4526  561.8  514.312776
4527    0.0   -2.681411
4528  526.6  381.083465
4529    0.0   -2.681411
4530  580.1  622.449420

[4531 rows x 2 columns]

In [15]:
x_teste = pd.read_csv('test.csv', usecols=['NU_NOTA_LC', 'NU_NOTA_CH', 'NU_NOTA_CN', 'NU_NOTA_REDACAO'])
x_teste.fillna(0, inplace=True)
x_teste.tail()

      NU_NOTA_CN  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_REDACAO
4571       398.3       558.2       511.6            500.0
4572       427.6       579.7       471.1            520.0
4573       639.2       643.8       604.9            640.0
4574       427.1       467.9       540.2            520.0
4575         0.0         0.0         0.0              0.0

In [16]:
y_pred = reg.predict(x_teste)

In [17]:
for i in range(x_teste.shape[0]):
    if x_teste['NU_NOTA_LC'][i] == 0:
        y_pred[i] = 0
    else:
        pass

In [18]:
predict = pd.DataFrame(y_pred, columns=['NU_NOTA_MT'])

In [19]:
rad = pd.read_csv('test.csv',usecols=['NU_INSCRICAO'])

In [20]:
answer = pd.concat([rad, predict], axis=1)

In [21]:
answer.to_csv('answer.csv')

In [22]:
aux = pd.read_csv('answer.csv')
aux['NU_NOTA_MT'].describe()

count    4576.000000
mean      354.208726
std       218.064935
min         0.000000
25%         0.000000
50%       449.502296
75%       502.244110
max       710.164075
Name: NU_NOTA_MT, dtype: float64